@page "/profile"
@using SpendLess.Shared;
@using SpendLess.Client.Pages
@using System.Linq
@using SpendLess.Client.Services
@attribute [Authorize]
@inject ISnackbar Snackbar
@inject ITransactionService TransactionService

<h1>User</h1>

<div class="gap-4 d-flex flex-wrap">
    <MudTextField @bind-Value="balance" Label="Balance" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
</div>

<br />

<button class="btn btn-primary" @onclick="SaveToProfile">Save</button>

@code {
    public static double balance = 0;

    public void SaveToProfile()
    {
        TransactionService.OnTransactionsChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        //Transactions.transactions = TransactionService.ReadJson();
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);
    }
}
