@page "/profile"
@using SpendLess.Shared;
@using SpendLess.Client.Pages
@using System.Linq
@using SpendLess.Client.Services
@attribute [Authorize]
@inject ISnackbar Snackbar
@inject ITransactionService TransactionService
<div>
<h1>User</h1>

<div>
    <MudTextField @bind-Value="balance" Label="Balance" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
</div>

<br />

<button class="btn btn-primary" @onclick="()=>TransactionService.OnTransactionsChanged()">Save</button>
</div>
@code {
    public static double balance = 0;
}
