@page "/test"
@using System.Net.Http.Json
@inject HttpClient httpClient
<h3>Where did you spend your money?</h3>

<br/>

<div class="gap-4 d-flex flex-wrap">
    <MudTextField @bind-Value="TextValue" Label="I spent money on..." Variant="Variant.Outlined"></MudTextField>
    <MudAutocomplete T="string" Label="Category" @bind-Value="categoryValue" SearchFunc="@Search1" Variant="Variant.Outlined" />
    <MudTextField @bind-Value="Amount" Label="Amount" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
    <MudDatePicker Label="Date" Editable="true" @bind-Date="date" Variant="Variant.Outlined" />
</div>

@code {
    DateTime? date = DateTime.Today;
    public string TextValue { get; set; }
    public double? Amount { get; set; }

    private string categoryValue;
    private string[] categoryValues =
    {
        "Housing", "Transportation", "Food", "Utilities", "Investing",
        "Household", "Personal", "Personal Development", "Gifts/Donations",
        "Entertainment", "Medical/Healthcare", "Insurance", "Kids",
        "Pets", "Subscriptions", "Clothing", "Travel", "Technology"
    };

    private async Task<IEnumerable<string>> Search1(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return categoryValues;
        return categoryValues.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}